"*":
  editor:
    fontFamily: ""
    fontSize: 12
    tabType: "soft"
  core:
    disabledPackages: [
        "wrap-guide"
    ]
    themes: [
      "tomorrow-ui"
      "atom-material-syntax"
    ]
    ignoredNames: [
      "._*"
      ".apm"
      ".DS_Store"
      ".git-*"
      ".git"
      ".hg"
      ".node-gyp"
      ".svn"
      "*.~*"
      "*.gif"
      "*.jpe?g"
      "*.lock"
      "*.mo"
      "*.png"
      "*.Trash*"
      "*[-.]cache"
      "bower_components"
      "node_modules"
      "vendor"
    ]
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "markdown-preview":
    useGitHubStyle: true
  "atom-beautify":
  editor:
    tabLength: 4
