highlight-selected
simple-drag-drop-text
merge-conflicts
color-picker
emmet
docblockr
pigments
linter
autocomplete-modules
auto-update-packages
file-icons
autoclose-html
atom-beautify
rest-client
git-control
expose
quick-editor
javascript-snippets
git-log
stylus
atom-jade
atom-handlebars
react
language-babel
angularjs
language-vue