project-manager
highlight-selected
git-plus
git-control
merge-conflicts
color-picker
emmet
docblockr
pigments
linter
autocomplete-modules
auto-update-packages
autocomplete-paths
wakatime
stylus
react-es6-snippets
atom-beautify
atom-jade
file-icons
language-javascript-jsx
es6-javascript
gruvbox-plus-syntax
firewatch-syntax
atom-material-ui
