autocomplete-paths
emmet
wakatime
git-control
stylus
color-picker
react-snippets
react-es6-snippets
atom-beautify
atom-jade
autoclose-html
file-icons
linter-eslint
language-javascript-jsx
es6-javascript
activate-power-mode
